/* Css reset  */
* {
    margin: 0;
    padding: 0;
}

/* css variable */
body {
    background-color: rgb(13, 13, 13);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'

}

#navbar {

    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    height: 10em;
    /* border: 2px solid red; */

}

#navbar::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(13, 13, 13);
    z-index: -1;

}

#logo {
    margin: 3px 26px;


}

#logo img {
    border-radius: 20px;
    height: 80px;
}

#navbar ul {
    display: flex;
    margin: 0px 15px 0px;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    display: block;
    color: rgb(254, 252, 252);
    margin: 5px 6px;
    padding: 2px 3px;
    border-radius: 8px;
}

#navbar ul li a:hover {
    /* background-color: rgb(124, 120, 120); */
    color: beige;
    cursor: pointer;
    text-decoration: underline;

}

#home {
    display: flex;
    color: white;
    flex-direction: column;
    padding: 3px 2px;
     height: 50em;
    
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

#home::before {

    background: url("soto.jpg") no-repeat center center/cover;
    content: "";
    height: 70%;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: .59;

}

#home h1 {
    text-align: center;
    color: white;

}

/* .h-primary {
    font-size: 5.4rem;
    padding: 12px;
    color: white;
} */

#home p {

    font-size: 1.5rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



.block {
    display: flex;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    ;
    border-right: 2px solid white;
    ;
    padding: 29px 53px;
    justify-content: center;
}

.item {
    margin: 25px;
    padding: 20px;
    display: flex;
    /* border: 2px solid blue; */
}

.item a {
    font-size: 1.4rem;
}

.item2 {
    margin: 1px;
    padding: 36px 9px;
    display: inline;
    justify-content: center;
    /* border: 2px solid blue; */
    background-color: rgb(13, 13, 13);
    opacity: 0.5;
    z-index: -1;
    height: 800px;
    width: 800px;
}


#home p {
    font-size: 1.7rem;
}

.box {

    display: flex;
    height: 300px;
    width: 350px;
    margin: 10px;
    font-size: 1px;
    /* background-color: red; */
    justify-content: center;
    align-content: center;
    align-items: center;
    background: url("ita.jpg")no-repeat center center/cover;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: -13px -12px rgb(227, 221, 221);
    transition: all .2s ease-in-out 0s;
}

.box:hover {
    /* these are the properties which are going to trans   */
    background-color: rgb(32, 31, 30);
    height: 310px;
    width: 370px;
    opacity: 0.9;
    margin: 20px;
    background: url("https://i.pinimg.com/474x/22/ef/c7/22efc78f99387ce3d892f97bf6ffdb5a.jpg")no-repeat center center/cover;
    color: white;
    border-radius: 20px;
    font-size: 2rem;
    align-items: last baseline;


}

#item5:hover {
    background: url("https://i.pinimg.com/236x/e6/67/9d/e6679de80b578082f8ccc4fd676804ff.jpg")center center/cover;
}

#item4:hover {
    background: url("https://i.pinimg.com/474x/ae/03/15/ae0315ae89f655db8b6bd0671ae07d95.jpg") center center/cover;
}

#item6 {
    background: url("https://w0.peakpx.com/wallpaper/145/615/HD-wallpaper-uzumaki-black-circles-clan-cool-dope-naruto-red-simple-swirl.jpg") center center/cover;
}

#item6:hover {
    background: url("https://i.pinimg.com/236x/b6/b4/51/b6b451b5b1d188a4668a899f010b0360.jpg")center center/cover;
}

#item7:hover {
    background: url("https://i.pinimg.com/474x/03/31/c2/0331c2275055fb3317ec0361fc9e7b24.jpg")center center/cover;
}

.h-primary {
    font-size: 3.4rem;
    color: rgb(255, 255, 255);
    padding: 12px 1px 12px 13px;
    overflow: none;
}

.center {
    text-align: center;

}

.outer {
    /* overflow: hidden; */
    display: block;
    color: white;
    margin: 17px;
    background-color: #0d0d0d;

}

.outer pre {
    color: rgb(200, 131, 96);
    font-family: "Spectral SC", serif;
}

.outer h3 {
    font-size: 1.9rem;
    font-family: "Nothing You Could Do", cursive;
}

@media (max-width:550px) {
    .outer {
        /* overflow: hidden; */
        display: block;
        color: white;
        height: 49em;
        width: 60em;
        margin:17px;
        background-color: #0d0d0d;
    }


    #navbar {

        display: flex;
    
        align-items: center;
        position: absolute;
        top: 0px;
        /* border: 2px solid red; */

    }

    #home::before {

        background: url("soto.jpg") no-repeat center center/cover;
        content: "";
        height: 33em;
        width: 100em;
        background-color: black;
        position: absolute;
        z-index: -1;
        opacity: .59;

    }
   
    .item2 {
        margin: 1px;
        padding: 3px 9px;
        display:inline-block;
        justify-content: center;
        /* border: 2px solid blue; */
        background-color: rgb(13, 13, 13);
        opacity: 0.5;
        z-index: -1;
        height: 40em;
        width: 58em;
    }
    
    
} 
